axial-attention==0.5.0
backcall==0.2.0
batchgenerators==0.21
certifi==2020.6.20
chardet==4.0.0
click==8.0.1
configparser==5.0.2
cycler==0.10.0
decorator==4.4.2
dicom2nifti==2.3.0
docker-pycreds==0.4.0
future==0.18.2
gitdb==4.0.7
GitPython==3.1.18
graphviz==0.16
idna==2.10
imageio==2.9.0
ipython
ipython-genutils==0.2.0
jedi
joblib==1.2.0
kiwisolver==1.3.1
linecache2==1.0.0
matplotlib
MedPy==0.4.0
mkl-fft
mkl-random
networkx==2.5.1
nibabel==3.2.1
numpy
olefile==0.46
packaging==21.0
pandas
parso
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow
promise==2.3
prompt-toolkit
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.6.0
pydicom==2.1.2
Pygments
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
requests==2.25.1
scikit-image
scikit-learn==0.24.2
scipy
sentry-sdk==1.2.0
shortuuid==1.0.1
SimpleITK==2.0.2
six
sklearn==0.0
smmap==4.0.0
subprocess32==3.5.4
threadpoolctl==2.2.0
tifffile
tqdm==4.61.2
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.26.6